

body {
    margin: 0px;
    padding: 0px;
    font-family:monospace;
    background-color:#0f0f0f;
    align-self: center;
    #margin-left: 2%;
    #margin-right: 2%;
    min-width: 450px;

    
}

p {
    text-indent: 50px;
}
header strong {
    font-size: 20px;
}

#logincontainer {
    background-color:#0f0f0f;
    text-align: right;
    padding-top: 7px;
    padding-bottom: 13px;
    margin: 0 auto;
    min-width : 500px;
    margin-top:-1px;
    #max-width: 1000px;
    left: 50%;
    right:50%;
}

#banner {
    margin: 0 auto;
    min-width : 550px;
    padding-bottom: 90px;
    padding-top: 30px;
    margin-bottom: 15px;;
    text-align: center;
    background: #0F1626;
    color:#FF533c;
    left: 50%;
    right:50%;
}

#banner h1 {
    font-size: 70px;
}


.genrebox {
    font-size: 20px;
    margin: 0 auto;
    min-width : 550px;
    max-width: 1000px;
    padding-bottom: 37px;
    padding-top: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    background: #0F1626;
    color:#FF533c;
    font-weight: bold;
}

.genrebutton {
    width: 50%;
}
.genrebutton2 {
    width: 50%;
}

a.genrebutton:hover, a.genrebutton:active {
    margin-top:-15px;
    color:#FF533c;
    padding-top:5px;
    padding-bottom:5px;
    border-style: solid;
    border-left-style: none;
    border-right-style: none;
    text-decoration: none;
    border-top-color: #FF533c;
    border-top-width: 10px;;
    border-top-style: solid;
    border-bottom-color: #FF533c;
    border-bottom-width: 10px;
    border-bottom-style: solid;
}

a.button:link,
a.button:visited {
    text-decoration: none;
}

a.button:hover,
a.button:active {
    border-top-color: #FF533c;
    border-top-width:medium;
    border-top-style: solid;
    border-bottom-color: #BFB48F;
    border-bottom-width: medium;
    border-bottom-style: solid;
    text-decoration: none;
}
a.navbar:link,
a.navbar:visited {
    height: 100%;
    text-align: center;
    text-decoration: none;
    border-top-color: #FF533c;
    color:#FF533c;
    padding-top: 6px;
    padding-bottom: 6px;

    padding-right: 10px;
    padding-left: 10px;
    font-size: 24px;
}
a.navbar:hover,
a.navbar:active {
    border-top-color: #FF533c;
    border-top-width: thick;
    border-top-style: solid;
    border-bottom-color: #FF533c;
    border-bottom-width: thick;
    border-bottom-style: solid;
    padding-top: 0px;
    
}
.content {
    font-size: 16px;
    min-width : 500px;

    max-width: 1000px;
    height 100%;
    margin: 0 auto;
    color:#FF533c;
}
#home.content {
    text-align: center;
}
.storyboard {
    width:76%;
    #width:calc(100% - 245px);
    float:left;
    margin-top: 1px;
}
.storybox {
    margin-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 390px;
    line-height: 150%;
    width:100%;
    background-color:#0F1626;
}
#first_box {
    margin-top: -22px;
}

#storybox p {
    font-weight: bold;
}

#m_resume_container {
    width:100%;
    min-height: 390px;
   ##margin-right: -30px;
    background-color:#0F1626;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

#div_resume_container {
    
    #margin-right:-32.5%;
    margin-bottom: 10px;

}

.stats{
    font-weight: bold;
    float: right;
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    #height: 500px;
    width:22%;
    background-color:#0F1626;
    align-items: center;   
    text-align: center;
}
.stats img {
    width: 100%;
    margin: 0 auto;
}
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
}

.skills {
    text-align: right; /* Right-align text */
    padding-right: 20px; /* Add some right padding */
    margin-bottom:10px;
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; /* White text color */
}

.html {float:left; width: 70%; background-color: #FF533c;}
.css {float:left;width: 70%; background-color: #FF533c;} 
.js {float:left;width: 65%; background-color: #FF533c;} 
.cpp {float:left;width: 90%; background-color: #FF533c;} 
.git {float:left;width: 70%; background-color: #FF533c;} 
.python {float:left;width: 80%; background-color: #FF533c;}
.spanish {float:left;width: 50%; background-color: #FF533c;}

.skill_html_filler {
    padding-right: 10px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    padding-bottom: 40px;
    width:30%;
    background-color: #BFB48F;
    float: right;
}

.skill_css_filler {
    padding-right: 10px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    padding-bottom: 40px;
    width:30%;
    background-color: #BFB48F;
    float: right;
}

.skill_cpp_filler {
    padding-right: 10px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    padding-bottom: 40px;
    width:10%;
    background-color: #BFB48F;
    float: right;
}

.skill_git_filler {
    padding-right: 10px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    padding-bottom: 40px;
    width:30%;
    background-color: #BFB48F;
    float: right;
}
.skill_python_filler {
    padding-right: 10px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    padding-bottom: 40px;
    width:20%;
    background-color: #BFB48F;
    float: right;
}

.skill_spanish_filler {
    padding-right: 10px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    padding-bottom: 40px;
    width:50%;
    background-color: #BFB48F;
    float: right;
}

#categories {
    font-size: 20px;
    font-weight: bolder;
    float: left;
    margin-top: 15px;
    margin-right: 5px;
    width:100%;
}

.projectboard {
}

.project {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 300px;
    background-color:#0F1626;
    color:#FF533c;
}
.project img {
    width: calc(100% - 300px);
}
.project h1{
    padding:0px;
    padding-top:15px;
    margin-bottom:10px;
}
.storybox h1{
    padding:0px;
    padding-top:15px;
    margin-bottom:10px;
}

#first_box_project{
    margin-top:-6px;
}

.imageboard h1{
    padding:0px;
    margin: 0px;
    margin-bottom:10px;
}
.photo {
    padding: 15px;
    margin-bottom: 15px;
    min-width: 520px;

    min-height: 140px;
    background-color:#0F1626;
    color:#FF533c;
}
.photo img {
    float:none;
    width: 32.5%;
    min-height: 140px;
    margin-bottom: -5px;
}

#multiple {
    padding-bottom: 15px;
}

#pan{
    width:100%;
    padding-bottom: 15px;
}

