
.skills {
    text-align: right; 
    padding-right: 20px; 
    margin-bottom:17px;
    line-height: 40px;
    color: white;
    
} 

.html {float:left; width: 70%; background-color: #FF533c; margin-top:5px;}
.css {float:left;width: 70%; background-color: #FF533c; margin-top:5px;} 
.js {float:left;width: 65%; background-color: #FF533c; margin-top:5px;} 
.cpp {float:left;width: 90%; background-color: #FF533c; margin-top:5px;} 
.git {float:left;width: 70%; background-color: #FF533c; margin-top:5px;} 
.python {float:left;width: 80%; background-color: #FF533c; margin-top:5px;}
.spanish {float:left;width: 50%; background-color: #FF533c; margin-top:5px;}

.skill_html_filler {
    padding-right: 10px;
    line-height: 40px;
    padding-bottom: 40px;
    width:30%;
    background-color: #BFB48F;
    float: right;
    margin-bottom:17px;
    margin-top:5px;
}
.skill_css_filler {
    padding-right: 10px; 
    line-height: 40px;
    padding-bottom: 40px;
    width:30%;
    background-color: #BFB48F;
    float: right;
    margin-bottom:17px;
        margin-top:5px;
}
.skill_cpp_filler {
    padding-right: 10px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    padding-bottom: 40px;
    width:10%;
    background-color: #BFB48F;
    float: right;
    margin-bottom:17px;
        margin-top:5px;
}
.skill_git_filler {
    padding-right: 10px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    padding-bottom: 40px;
    width:30%;
    background-color: #BFB48F;
    float: right;
    margin-bottom:17px;
        margin-top:5px;
}
.skill_python_filler {
    padding-right: 10px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    padding-bottom: 40px;
    width:20%;
        margin-top:5px;
    background-color: #BFB48F;
    float: right;
    margin-bottom:17px;
}
.skill_spanish_filler {
    padding-right: 10px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    padding-bottom: 40px;
    width:50%;
    background-color: #BFB48F;
    float: right;
    margin-bottom:17px;
        margin-top:5px;
}
