/* only larger screens */
@media only screen and (min-width: 650px) {

    nav a:link,
    nav a:visited {
        font-size: 31px;
    }
    nav {
        vertical-align: top;
        min-width: 760px;
    }
    
    nav a:link,
    nav a:visited {
        font-size: 31px;
    }
    
    .stats{
        margin-right:20px;
        float:left;
        background-color:#171F32;
        width:300px;
    }
    
    #storyboard {
        min-width: 700px; 
    }
    .storybox {
        width:100%;
    }
    #story {
        width:calc(100% - 320px);
        font-size: 17px;
    }

    #home_banner {
        
        position:relative;
        text-align: center;
        border-style: dashed;

        font-size: 70px;
    }
    
    .multiple {
        width: calc((100% - 10px)/3);
        float:left;
    }

    #middle {
        margin-left: 5px;
        margin-right: 5px;
    }
    #storybox h1 {
        margin: 0 auto;
    }
    .project {
        min-width:500px;
    }
    .project_image {
        width:40%;
        float:left;
    }
    .project_details {
        min-width: 30%;
        width:60%;
        font-size:18px;
    }
}



/* only small screens */
@media only screen and (max-width: 650px) and (min-width: 500px){
    nav a {
        min-width : 500px;
    } 
}


/* only small screens */
@media only screen and (max-width: 650px){
    
    #home_banner {
        margin-top:10px;
        font-size: 70px;
    }

    nav a:link,
    nav a:visited {
        font-size: 31px;
    }
    
    #storyboard {
        text-align: center; 
        width:100%; 
        min-width:250px;  
    }
    
    .project {
        text-align: left;
        display:inline-block;
        margin: 0 auto;
        min-width:250px;
        font-size:18px;
        padding-bottom:25px;
    }
    
    .storybox {
        margin-left:15px;
        margin-right:15px;
    }
    
    #story {
        margin-top:00px
    }
    
    .multiple {
        width: calc((100% - 4px)/3);
        float:left;
    }

    #middle {
        margin-left: 2px;
        margin-right: 2px;
    }
    
    .project_image {
        padding: 15px;
        max-width:300px;
        margin:0 auto;
    }
    
    .project h1 {
        margin: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size:39px;
    }
    
    .stats {
        width:300px;
    }
    
}

/* mobile css */
@media only screen and (max-width: 520px){
    nav a:link,
    nav a:visited {
        font-size: 23px;
    }
    
    nav {
        min-width : 280px;
    }
    #home_banner {
        margin-top: 15px;
        font-size: 59px;
    }
    
    #imageboard h1 {
        margin: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size:31px;
    }
}

/* mobile css */
@media only screen and (max-width: 360px){
    nav {
        min-width : 280px;
    }
    
    nav a:link,
    nav a:visited {
        font-size: 23px;
    }
    
    #imageboard h1 {
        font-size:25px;
    }
}

html {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    font-family:monospace;
    background-color:#101727;
    display: table-cell;
    height: 100%;
}

p {
    text-indent: 50px;
}


#bg {
    height: 100%;
    /* 
        position:relative;
        The image used
        background-image: url("img/zurich_lake_long_pan.jpg");
        Center and scale the image nicely
        background-position: calc(50% + 10px) -460px;
        background-repeat: no-repeat;
    */
}

/* navbar */
nav {
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:#171F32;

    vertical-align: top; /* here */
}

nav a:link,
nav a:visited {
    height: 100%;
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
    color:#FF611D;
}

nav a:hover,
nav a:active {
    border-top-width: thick;
    border-top-style: solid;
    border-bottom-width: thick;
    border-bottom-style: solid;
    padding-top: 0px; 
}

/* home page */
#home_image {
    position: absolute;
    margin-left:300px;
    top: 100px; 
    width: 200px; 
    border-radius: 50%;
}

#home_banner {
    text-align: center;
    /* color:#3453ff;*//* only larger screens */
    

    margin-top: 50%;
    margin-bottom: 50%;
    margin-top: auto;
    margin-bottom: auto;
    
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#slogan {
    margin-top: 45px; 
    font-size: 22pt;
}
#tagline {
    color:#FF611D; 
    font-weight: bold;
}

#home_description {
    width: 420px;
    margin: 0 auto;
    margin-top: 45px; 
    font-size: 22pt;
}

#content {
    font-size: 15px;
    width: 100%;
    min-width: 200px;
    max-width: 90%;
    color:white; 
    margin:0 auto;
    text-align: center;
    height: 100%;
    vertical-align: middle;
}
#content::-webkit-scrollbar {
  display: none;
}

#imageboard h1 {
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* About Me */
.storybox {
    padding: 15px;
    margin-bottom: 20px;
    text-align: left;
    background-color:#171F32;
    display:inline-block;
}

.storybox h1{
    margin-top:5px;
    margin-bottom:15px;
}

#story_stat_div {
    width:100%;
    margin: 0 auto;
}

.stats{
    font-weight: bold;
    margin-bottom: 20px;
    padding: 15px;

    background-color:#171F32;
    display:inline-block;    
}

#icons {
    padding-right:10%;
    padding-left: 10%;
    margin-top:10px;
    text-align: center;
    display: inline-block;
    
}

#links {
    margin-top:10px;
    display: inline-block;
    text-align: center;
}


.stats img {
    width: 100%;
}

.stat_bars {
    font-weight: bold;
    padding: 15px;
    padding-top: 0px;
    background-color:#171F32;
}

a.stats {
    text-decoration: none;
}

a.stats_link:link,
a.stats_link:visited {
    text-decoration: none;
    font-size: 30px;
    margin-top:20px;
    color:white;
}

ul {
    margin-left:-20px;
}

li {
    margin-left:-0px;
    margin-bottom: 10px;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

.container {
    width: 100%; 
}

/* Projects */
.project {
    margin-bottom: 15px;
    background-color:#171F32;
    position: relative;

}

.project_image {
    display:inline-block;
    padding: 15px;
}

.project_link {
    color:white;
    font-weight:bold;
    margin-top:10px;
    margin-bottom:10px;
    font-size:18px;
    position: absolute;
    bottom:0px;
}
.project_details {
    padding-bottom: 15px;
    padding-left: 15px;

    padding-right:15px;
    display: inline-block;
    text-align: left;
}

/* Photography */

#imageboard {
    margin: 0 auto;
    display:inline-block;
    text-align:center;
}

.photo {
    padding: 10px;
    padding-top: 0px;
    margin-bottom: 10px;
    background-color:#171F32;
}

#pan{
    width:100%;
    margin-bottom: 5px;
}

#about_me_point {
    margin-bottom: 0px;
    font-weight: 200;
}
